@charset "ISO-8859-1";
.eye-icon {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .user-details {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ddd;
        padding: 10px;
        z-index: 1;
        width: 200px;
        top: 20px; /* Ajuste para posicionar debajo del icono */
        left: 0;
    }

    .eye-icon:hover .user-details {
        display: block;
    }